
:root {

    /*Primary colors*/
    --light-blue: rgb(61,190,255);
    --Soft-red: hsl(7, 99%, 70%,0.2);
    --Soft-red-active: hsl(7, 99%, 70%,1);
    --Yellow: hsl(51, 100%, 49%,0.2);
    --Yellow-active: hsl(51, 100%, 49%,1);
    --Dark-desaturated-cyan: hsl(167, 40%, 24%);
    --Dark-blue: hsl(198, 62%, 26%);
    --Dark-moderate-cyan: hsl(168, 34%, 41%);

    /*Neutral colors*/
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);

    /*font size*/
    --font-body: 18px;
}


/*-----body-----*/
.body {
    font-size: var(--font-body);
    background-color: var(--light-blue)
}

/*--------- header -------------*/

.header {
    background: 0 0;
    position: absolute;
    z-index: 100;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    min-height: 10vh;
    width: 100%;
}

.logo {
    max-height: auto;
}

.principal-text {
    color: white;
    display: flex;
    flex-direction: column;
    align-items:center;
}



/*--------- sections -------------*/
.section {
    display: flex;
    flex-wrap: wrap;
    width:  1440px;
    margin: auto;
    background-color: white;
}


.home {
    /*background: url('../images/desktop/image-header.jpg') no-repeat center center;
    background-size: cover;*/
    min-height: 100vh;
    position: relative;
    
}

.home img {
    width: 100%;
}

.home__h1 {
    position: absolute; 
    font-size: 90px;
}

.down-arrow {
    font-size: 200px;
}

.section--reverse {
    flex-direction: row-reverse;
}

.section__text {
    width: 50%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.text-card {
    width: 29vw;
}

.text-card__h1 {
    padding-right: 5vw;
}

.text-card__link {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--Very-dark-desaturated-blue);
}

.text-card__link::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: var(--Yellow);
    bottom: 0;
    left: 0;
    z-index: -1;
    transform: translateY(15%);
}

.text-card__link:hover::after {
    background-color: var(--Yellow-active);
}

.text-card__link--red::after {
    background-color: var(--Soft-red);
}

.text-card__link--red:hover:after {
    background-color: var(--Soft-red-active);
}

.text-image {
    display:inline-block;
}


.section__image {
    width: 50%;
    margin: 0;
}

.section__image-object {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gallery {
    flex-direction: row;
    flex-wrap: Wrap;
}

.gallery__image {
    max-width: 25%;
}


/*-----image with text ---*/


.image-containter {
    width: 50%;
    margin: 0;
}

.image-containter img {
    height: 100%;
    width: 100%;
}

.text-image {
    position: relative;
    margin: 55vh 5vw 14vh 5vw;
    text-align: center;
}

/*------clients---------*/

.clients {
    min-height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clients__h1 {
    color: var(--Grayish-blue);
    text-transform: uppercase;
    font-size:x-large;
    text-align: center;
}

.clients__container {
    margin: 40px 0;
    width: 75%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*--------clients cards---------*/

.client-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
}

.client-card__img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.client-card__p {
    margin: 50px 0;
    text-align: center;
}

.client-card__title {
    text-align: center;
}

.client-card__name {
    font-weight: 700;
}

.client-card__position {
    margin: 10px 0;
    color: var(--Dark-grayish-blue);
    font-size: 0.8em;
}

/*--------- footer -------------*/
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    background-color: var(--Dark-moderate-cyan);
}

.logo--footer {
    margin-top: 70px;
}

.logo--footer path {
    fill: var(--Dark-desaturated-cyan);
}

.links {
    margin-top: 30px;
    margin-bottom: 60px;
}

.links__item {
    margin: 0 20px;
    color: var(--Dark-desaturated-cyan);
    font-weight: 700;
    text-decoration: none;
}

.links__item:hover {
    color: var(--White);
}

.social-media {
    text-align: center;
}

.social-media__icon {
    margin: 0 10px;
}

.social-media__icon:hover {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(100%) sepia(2%) saturate(809%) hue-rotate(228deg) brightness(118%) contrast(100%);
}

.attribution { 
    display: inline;
    font-size: 11px; 
    text-align: center; 
    margin-top: auto;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}